<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для адмінів</title>
</head>
<body>
    <h1>Привіт, адміне!</h1>
    <form action="/show_load" method="POST">
        <label for="nodeId">Id вузла:</label><br>
        <input type="text" id="nodeId" name="nodeId"><br><br>
        <input type="submit" value="Показати навантаження вузлів">
    </form>

    <br><br>

    <h1>Присвоєння завдання вузлу</h1>
    <form action="/assign_task" method="post">
        <label for="taskId">Оберіть завдання:</label>
        <select name="taskId" id="taskId">
            {% for task in tasks %}
                <option value="{{ task }}">{{ task }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="nodeIdForTask">Оберіть вузол:</label>
        <select name="nodeIdForTask" id="nodeIdForTask">
            {% for node in nodes %}
                <option value="{{ node }}">{{ node }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="timeUsage">Час використання:</label><br>
        <input type="text" id="timeUsage" name="timeUsage"><br><br>

        <input type="submit" value="Присвоїти">
    </form>

    <script>
        function showTask(task) {
            alert(`Ви обрали: ${task}`);
        }
    </script>

</body>
</html>
